ul.grid {
    margin: 4rem 0 0 0;
    padding: 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    
    li{
        list-style: none;
        position: relative;
        overflow: hidden;

        &:before{
            display: block;
            content: '';
            padding-top: 100%;
        }

        &.span-c2{
            grid-column: span 2;
            grid-row: span 2;
        }

        &.span-c3{
            grid-column: span 3;
            &:before{
                padding-top: 25%;
            }
        }

        &.span-r2{
            grid-row: span 2;
        }

        &.span-c4-r1{
            grid-column: span 4;

            &:before{
                padding-top: 25%;
            }
        }
    }

    a{
        display: block;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
    img{
        display: block;
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    li.img-p img{
        width: 100%;
        height: auto;
    }
}