ul.grid {
    margin: 4rem 0 0 0;
    padding: 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 2fr);
    
    li{
        list-style: none;
        position: relative;
        overflow: hidden;

        &:before{
            display: block;
            content: '';
            padding-top: 100%;
        }
    }

    a{
        display: block;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
    img{
        display: block;
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%; left: 0;
        transform: translate(0, -50%);
    }

    li.img-p img{
        width: 100%;
        height: auto;
    }
}