.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1px;
    align-items: start;
    justify-items: center;
    margin: auto;
    width: 504px;
    }
  .grid img {
    max-width: 100%;
  }
  .grid img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
    }