.listing {
	padding: 0;
	margin-top: 3em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	li {
		display: block;
		@include liProperty;
		margin-top: 2em;
		flex: 0 0 31%;
		@include background-image("post3.jpg", center, cover);
		border-radius: 0.3em;
	}

	li:nth-child(2){
		@include background-image("post2.jpg", left center, cover);
	}

	li:nth-child(3){
		@include background-image("post1.jpg", left center, contain);
	}

	a {
		height: 100%;
		display: block;
		color: white;
		text-decoration: none;
		padding: 1rem 1.5rem;
		position: relative;
		transition: background 0.3s ease-in, color 0.3s ease-in;
		box-shadow: 0 0 1rem 0 rgba(#000,0.2);

		&:before {
			display: block;
			content: '';
			border-radius: 0.3em;
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			opacity: 0;
			transition: opacity 0.3s ease-in;
			box-shadow: 0 0 5rem 0.9rem rgba(black,0.4);
		}

		&:hover {
			box-shadow: 0 0 5rem 2rem rgba(black,0.4);
			
			&:before {
				opacity: 1;
			}
		}

		& span {
			display: block;
		}

		& .title {
			font-weight: bold;
			font-size: 1.2rem;
			padding-bottom: 4rem;
		}
	}
}
