
// define the base path before the mixin
$path--rel: "../img"; 

@mixin background-image($img, $background-position, $background-size) {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('#{$path--rel}/#{$img}');
    background-repeat: no-repeat;
    background-position: $background-position;
    background-size: $background-size;

} 
@mixin liProperty {
    list-style: none;
	padding: 0 1em;
}

@mixin imgContainer {
    width: 10rem;
    height: 11rem;
    overflow: hidden;
    text-align: center;
}