.site-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    text-align: center;
    @include background-image("footer.jpg", center, contain);
    background-repeat: repeat;
    padding: 15px;
    color: white;
    font-weight: lighter;

    ul.icons{
        display: flex;

    }
    li{
        @include liProperty;
        
    }
    i {
        font-size: 1rem;
        color: white;
    }
}

