<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" />
	</head>
	<body class="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}">
        <div class="site">
			<input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
			<header class="site-header">
				
				<div class="site-branding">
					<div class="site-logo">
						<img src="{{ site.baseurl }}/img/logo-center.png" alt="logo">
					</div>
					<p class="site-title">
						<a href="{{ site.baseurl }}/">{{ site.title }}</a>
					</p>
					<p class="site-description">{{ site.description }}</p>

					<!-- <section class="options">
						<article>
							<h4>The Glassworks</h4>
							<a href="#">View More ..</a>
						</article>
						<article>
							<h4>The Edge</h4>
							<a href="#">View More ..</a>
						</article>
						<article>
							<h4>The Ascent</h4>
							<a href="#">View More ..</a>
						</article>
						<article>
							<h4>Gallery</h4>
							<a href="#">View More ..</a>
						</article>
					</section> -->
				</div>

				<label id="nav-toggle-left" for="nav-main-toggle" class="fas nav-toggle left"><span>Menu</span></label>

				<nav class="navigation main">
					<ul>
						<li><a class="fas fa-newspaper" href="{{ site.baseurl }}/">Beautiful House</a></li>
						<li><a class="fas fa-user-secret" href="{{ site.baseurl }}/projects/">Projects</a></li>
						<li><a class="fas fa-user-secret" href="{{ site.baseurl }}/about/">About us</a></li>
						<li><a class="fas fa-edit" href="{{ site.baseurl }}/reviews/">Reviews</a></li>
					</ul>
				</nav>
			</header>
			<main class="site-content">
			
				{{content}}
			
			</main>

			<footer class="site-footer">
			
				<p>Copyright © 2018 Beautiful House ™ All Rights Reserved</p>
				<ul class="icons">
					<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				</ul>

			</footer>

        </div>
    </body>
</html>